<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vuee</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <div id="welcome">
        <h3 v-if="loggedIn">Välkommen {{ name }}</h3>
    </div>
    <div>
        <ol id="list">
            <li v-for="number in numbers">
                {{ number }}
            </li>
        </ol>
    </div>
    
    
    <script>
        var v = new Vue({
            el: '#list',
            data: {
                numbers: [1, 2, 3, 4, 5].reverse()
            }
        });

        var vv = new Vue({
            el: '#welcome',
            data: {
                loggedIn: true,
                name: 'Banan'
            }
        })
    </script>
</body>
</html>